openapi: 3.0.2
info:
  version: 1.0.0
  title: PAPER ID - OPEN API - Tools V1
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://fintech.id/storage/files/shares/logo/logofi2/paperid.png'
externalDocs:
  description: Please registry here first if you don't have access
  url: 'https://paper.id/webappv1/#/login?entry_point=landing-page'
servers:
  - url: 'https://open-api.devel.paper.id/api/v1'
    description: > 
      **Development**
tags: 
  - name: Delivery Order
    description: >
      Delivery order is a document that is required to be issued by a business during goods delivery. Delivery order will be created and sent from a supplier to the customer, by the person who will receive the goods.
paths:
  '/delivery-orders':
    $ref: paths/document-exchange/delivery-order/create-send-delivery-order.yaml
  '/delivery-orders/send-all/{order_id}':
    $ref: paths\document-exchange\delivery-order\send-delivery-order@{order_id}.yaml
  '/delivery-orders/{order_id}':
    $ref: paths/document-exchange/delivery-order/edit-delivery-order@{order_id}.yaml
  '/delivery-orders/{order_id} ':
    $ref: paths\document-exchange\delivery-order\get-delivery-order@{order_id}.yaml
  '/delivery-orders/all':
    $ref: paths\document-exchange\delivery-order\get-list-delivery-order.yaml
components:
  securitySchemes:
    client_id:
      type: apiKey
      in: header
      name: client_id
    client_secret:
      type: apiKey
      in: header
      name: client_secret
    company_id:
      type: apiKey
      in: header
      name: company_id
