openapi: 3.0.2
info:
  version: 1.0.0
  title: PAPER ID - OPEN API - Tools V1
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://fintech.id/storage/files/shares/logo/logofi2/paperid.png'
externalDocs:
  description: Please registry here first if you don't have access
  url: 'https://paper.id/webappv1/#/login?entry_point=landing-page'
tags:
  - name: User & Company Account
  - name: Partner
  - name: Purchase Order
  - name: Sales Invoice
  - name: Delivery Order
servers:
  - url: 'https://open-api.devel.paper.id/api/v1'
    description: > 
      **Development**
  # - url: 'https://open-api.stag.paper.id/api/v1'
  #   description: >
  #     **Staging**
  # - url: 'https://open-api.paper.id/api/v1'
  #   description: >
  #     **Production**
paths:
  # user register
  '/open-api/register':
    $ref: paths/user/register-user.yaml
  
  # partner
  '/partners/all':
    $ref: paths/partners/partners_all.yaml
  '/partners/create':
    $ref: paths/partners/partners_create.yaml
  
  # purchase Order
  '/purchase-orders/all':
    $ref: paths/document-exchange/purchase-order/purchase_order_all.yaml
  '/purchase-orders':
    $ref: paths/document-exchange/purchase-order/purchase_orders.yaml
  '/purchase-orders/{order_id}':
    $ref: paths/document-exchange/purchase-order/purchase_orders_update@{order_id}.yaml
  '/purchase-orders/send-all/{order_id}':
    $ref: paths/document-exchange/purchase-order/purchase_order@{order_id}.yaml
  # '/purchase-orders/purchase-order/cancel/{order_id}':
  #   $ref: paths\purchase-order\purchase_order_cancel@{order_id}.yaml
  
  # sales invoice
  '/sales-invoices/all':
    $ref: paths/document-exchange/sales-invoice/sales_invoice_all.yaml
  '/sales-invoices/{invoice_id}/update':
    $ref: paths/document-exchange/sales-invoice/sales_invoice_update.yaml
  '/sales-invoices/{invoice_id}':
    $ref: paths/document-exchange/sales-invoice/sales_invoice@{invoice_id}.yaml
  '/sales-invoices':
    $ref: paths/document-exchange/sales-invoice/sales_invoice_create.yaml
  # '/sales-invoices/{invoice_data_id}/cancel':
  #   $ref: paths/sales-invoice/sales_invoice_cancel.yaml
  '/sales-invoices/send-all/{invoice_id}':
    $ref: paths/document-exchange/sales-invoice/sales_invoice_send.yaml
  
  # delivery order
  '/delivery-orders':
    $ref: paths/document-exchange/delivery-order/create-send-delivery-order.yaml
  '/delivery-orders/send-all/{order_id}':
    $ref: paths\document-exchange\delivery-order\send-delivery-order@{order_id}.yaml
  '/delivery-orders/{order_id}':
    $ref: paths/document-exchange/delivery-order/edit-delivery-order@{order_id}.yaml
  '/delivery-orders/{order_id} ':
    $ref: paths\document-exchange\delivery-order\get-delivery-order@{order_id}.yaml
  '/delivery-orders/all':
    $ref: paths\document-exchange\delivery-order\get-list-delivery-order.yaml
components:
  securitySchemes:
    client_id:
      type: apiKey
      in: header
      name: client_id
    client_secret:
      type: apiKey
      in: header
      name: client_secret
    company_id:
      type: apiKey
      in: header
      name: company_id
